.featured-event{
    padding-top: 22.4%;
    background-size: cover;
    background-position: center;

    .events--block{
        position: absolute;
        right: 0;
        bottom: 0;
        margin-top: 100px;
    }

    .column{
        position: relative;
    }
}