.mc-s {
    @extend %mc-s;
    display: grid;
    grid-gap: 10px;
    //grid-template-columns: 7fr 3fr;
    grid-template-columns: 1fr;
    margin: auto;
    max-width: 1024px;
    width: 100%;

    &__sidebar {
        display: none;
    }

    @media screen and (max-width: 799px) {
        grid-template-columns: 1fr;
    }

    &__header, &__title .avatar {
        background-color: gray;
        background-position: center;
        background-size: cover;
    }

    &__header {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding-top: 200px;
    }

    &__title {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 128px 1fr;
        padding: 10px;

        margin-top: -40px;

        .avatar {
            border-radius: 50%;
            height: 128px;
            width: 128px;
        }

        .type {
            color: white;
            font-style: italic;
            line-height: 40px;
            text-shadow: 0 0 5px black;
        }

        .title {
            color: $primary-color;
            color: var(--mc-primary-color, $primary-color);
            font-weight: bold;
            font-size: 30px;
            line-height: 1.3;
        }

        .subtitle {
            color: $primary-color;
            color: var(--mc-primary-color, $primary-color);
            font-weight: bold;
        }
    }

    &__tabs-control {
        display: flex;
        margin: 10px 0;

        .tab {
            @include primary-color;
            border-bottom-color: $primary-color;
            border-bottom: 1px solid var(--mc-primary-color, $primary-color);
            display: flex;
            flex: 1;
            justify-content: center;

            &.selected {
                font-weight: bold;
                border-bottom-width: 3px;
            }
        }
    }

    &__tab {
        padding: 10px;
    }

    &__slot {
        display: flex;
        margin-bottom: 10px;
        width: 100%;

        .icon {
            line-height: 1.3;
            min-width: 100px;
            max-width: 100px;
            text-align: center;

            span {
                font-weight: bold;
                font-size: 0.9em;
            }
        }


        .text {

            p {
                margin: 0;
            }

            p + p {
                margin-top: 1em;
            }

            .mc-s__slot {
                margin: 0;

                .icon {
                    min-width: 40px;
                    max-width: 40px;
                }
            }

            &.address {
                .name {
                    font-weight: bold;
                }
            }

            ul.tags {
                margin: 0;
                padding: 0;

                li.tag {
                    @include secondary-inverse;
                    border-radius: 5px;
                    display: inline-block;
                    font-size: 0.9em;
                    list-style: none;
                    margin: 2.5px;
                    padding: 0 5px;
                }
            }
        }

        &.contact {
            padding: 10px 5px;
            border-bottom-color: $primary-color;
            border-bottom: 1px solid var(--mc-primary-color, $primary-color, --mc-primary-color);
            border-top-color: $primary-color;
            border-top: 1px solid var(--mc-primary-color, $primary-color);

            @media screen and (min-width: 800px) {
                .mc-s__slot {
                    display: inline-flex;
                    width: calc(50% - 5px);
                }
            }
        }
    }

    &__gallery {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        margin: auto;
        max-width: 860px;
    }

    &__attached-image {
        background-position: center;
        background-size: cover;
        display: block;
        padding-top: 100%;
    }
}

.fa-check.active, .fa-star.active{
    background: rgba(142, 142, 142, 0.3);
    border-radius: 50%;
    padding: 4px 3px;
    color: #333;
    font-size: 13px;
}

.fa-check.active{
    padding: 4px;
}