.mc-w-agenda {

    &__month {
        margin-bottom: 20px;
        position: relative;

        &.maximized {
            border-bottom: 3px solid var(--mc-secondary-color, $secondary-color);

            &:last-of-type {
                border-bottom: 0;
            }
        }

        &.minimized {
            margin: 20px 0;
        }
    }

    &__label {
        @include primary-color;
        font-weight: bold;
        font-size: 1.2em;
        width: 100%;

        &:after {
            @include secondary-inverse;
            content: '';
            display: block;
            float: right;
            height: 1px;
            margin-top: 12.5px;
            width: calc(100% - 100px);
        }
    }

    &__collapse {
        @include secondary-inverse;
        align-items: center;
        border-radius: 50%;
        display: inline-flex;
        height: 25px;
        justify-content: center;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 25px;
    }

    &__content {
        background-color: #F7F7F7;
        margin-top: -1.2em;
    }

    &__no-content {
        color: gray;
        padding: 20px;
        text-align: center;
    }

    &__day {
        border-color: var(--mc-secondary-color, $secondary-color);
        border-style: solid;
        border-width: 0 0 1px;
        display: flex;
        padding: 10px 0;
    }

    &__date {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px;
        min-width: 90px;

        .day {
            @include primary-color;
            font-size: 20px;
            font-weight: bold;
        }
    }

    &__events {
        width: 100%;
    }

    &__event {

        .time {
            align-items: center;
            display: flex;
            width: 100px;

            @include tablet {
                display: none;
            }
        }

        .category {
            width: 200px;

            @include tablet {
                display: none;
            }
        }

        .description {
            max-width: calc(100% - 300px);

            @include tablet {
                max-width: 100%;
            }
        }
    }
}