.mc-w-day {
    &__label {
        @include primary-color;
        font-weight: bold;
        font-size: 1.1em;
        width: 100%;

        &:after {
            @include secondary-inverse;
            content: '';
            display: block;
            float: right;
            height: 1px;
            margin-top: 12.5px;
            width: calc(100% - 65px);
        }
    }

    &__events {
        padding: 10px 0;
    }

    &__event {

        .time {
            align-items: center;
            display: flex;
            width: 100px;
        }

        .category {
            width: 200px;

            @include tablet {
                display: none;
            }
        }

        .description {
            max-width: calc(100% - 300px);

            @include tablet {
                max-width: calc(100% - 100px);
            }
        }
    }
}