// Colors //

@mixin primary-color {
    color: $primary-color;
    color: var(--mc-primary-color, $primary-color);
}

@mixin primary-inverse {
    background-color: $primary-color;
    background-color: var(--mc-primary-color, $primary-color);
    color: $primary-icolor;
    color: var(--mc-primary-inverse, $primary-icolor);
}

@mixin secondary-color {
    color: $secondary-color;
    color: var(--mc-secondary-color, $secondary-color);
}

@mixin secondary-inverse {
    background-color: $secondary-color;
    background-color: var(--mc-secondary-color, $secondary-color);
    color: $secondary-icolor;
    color: var(--mc-secondary-inverse, $secondary-icolor);
}

// Media queries //

@mixin mobile {
    @media screen and (max-width: 450px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 900px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 900px) {
        @content;
    }
}